In [2]:
import os
import csv
import pandas as pd

In [3]:
budget_df = pd.read_csv("Resources/budget_data (1).csv")
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [5]:
len(budget_df)

86

In [28]:
budget_df.iloc[0]

Date             Jan-2010
Profit/Losses      867884
Differences             0
Name: 0, dtype: object

In [7]:
totmos = budget_df["Date"].count()
totmos

86

In [12]:
profit_loss = budget_df["Profit/Losses"].sum()
profit_loss

38382578

In [31]:
avgchg = [0]
pl_chg = budget_df["Profit/Losses"].to_list()
for x in range(1,len(pl_chg)):
    diff = pl_chg[x] - pl_chg[x - 1]
    avgchg.append(diff)
avgchg

[0,
 116771,
 -662642,
 -391430,
 379920,
 212354,
 510239,
 -428211,
 -821271,
 693918,
 416278,
 -974163,
 860159,
 -1115009,
 1033048,
 95318,
 -308093,
 99052,
 -521393,
 605450,
 231727,
 -65187,
 -702716,
 177975,
 -1065544,
 1926159,
 -917805,
 898730,
 -334262,
 -246499,
 -64055,
 -1529236,
 1497596,
 304914,
 -635801,
 398319,
 -183161,
 -37864,
 -253689,
 403655,
 94168,
 306877,
 -83000,
 210462,
 -2196167,
 1465222,
 -956983,
 1838447,
 -468003,
 -64602,
 206242,
 -242155,
 -449079,
 315198,
 241099,
 111540,
 365942,
 -219310,
 -368665,
 409837,
 151210,
 -110244,
 -341938,
 -1212159,
 683246,
 -70825,
 335594,
 417334,
 -272194,
 -236462,
 657432,
 -211262,
 -128237,
 -1750387,
 925441,
 932089,
 -311434,
 267252,
 -1876758,
 1733696,
 198551,
 -665765,
 693229,
 -734926,
 77242,
 532869]

In [ ]:
budget_df["Differences"] = avgchg

In [38]:
avgchg

[0,
 116771,
 -662642,
 -391430,
 379920,
 212354,
 510239,
 -428211,
 -821271,
 693918,
 416278,
 -974163,
 860159,
 -1115009,
 1033048,
 95318,
 -308093,
 99052,
 -521393,
 605450,
 231727,
 -65187,
 -702716,
 177975,
 -1065544,
 1926159,
 -917805,
 898730,
 -334262,
 -246499,
 -64055,
 -1529236,
 1497596,
 304914,
 -635801,
 398319,
 -183161,
 -37864,
 -253689,
 403655,
 94168,
 306877,
 -83000,
 210462,
 -2196167,
 1465222,
 -956983,
 1838447,
 -468003,
 -64602,
 206242,
 -242155,
 -449079,
 315198,
 241099,
 111540,
 365942,
 -219310,
 -368665,
 409837,
 151210,
 -110244,
 -341938,
 -1212159,
 683246,
 -70825,
 335594,
 417334,
 -272194,
 -236462,
 657432,
 -211262,
 -128237,
 -1750387,
 925441,
 932089,
 -311434,
 267252,
 -1876758,
 1733696,
 198551,
 -665765,
 693229,
 -734926,
 77242,
 532869]

In [40]:
budget_df.Differences.mean()

-2288.1976744186045

In [43]:
budget_df["Differences"].sum() / len(avgchg)

-2288.1976744186045

In [44]:
budget_df["Differences"].sum() / (len(avgchg)-1)

-2315.1176470588234

In [47]:
budget_df["Differences"].max()

1926159

In [48]:
budget_df["Differences"].min()

-2196167